@mixin box-shadow {
    -webkit-box-shadow: 9px 14px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 14px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 14px 22px -6px rgba(0, 0, 0, 0.75);
}
 @mixin breakpoint($point) {
     @if $point==desktop {
         @media (min-width: 85em) {
             @content ;
         }
     }

     @else if $point==laptop {
         @media (min-width: 64em) {
             @content ;
         }
     }

     @else if $point==tablet {
         @media (min-width: 50em) {
             @content ;
         }
     }

     @else if $point==phablet {
         @media (min-width: 40em) {
             @content ;
         }
     }

     @else if $point==mobileonly {
         @media (max-width: 40em) {
             @content ;
         }

     }
 }
